$primary_dark: #393939;
$primary_white: #F7F7F7;
$white-color: #ffffff;
$black-color: #000000;
$dark-gray-color: #4a4a4a;
$semi-dark-gray-color: #656566;
$light-gray-color: #e8e8e8;
$lighter-gray-color: #f2f2f2;
$download-stroke-gray-color: #cccccc;
$semi-light-gray-color: #fafafa;
$red-color: #e52600;
$dark-red-color: #d2232a;
$blue-color: #0c6db3;
$dark-blue-color: #023f88;
$light-blue-color: #0b9bd9;